/target/*
/FlexGanttFXMSProject/logs/
tmp/
/docs-old/_site/*
/docs-old/.jekyll-cache
/docs-old/Gemfile.lock
jdeploy/
jdeploy-bundle/
/.idea/
/.idea/*
/scenicView.properties
/FlexGanttFXFactory/target/*
/FlexGanttFXDemoLauncher/target/*
/FlexGanttFXWeather/target/*
/FlexGanttFXAirport/target/*
/FlexGanttFXDemoLauncher/*
/FlexGanttFXShowcase/target/*
/FlexGanttFXSpaceMission/target/*
/FlexGanttFXSprint/target/*
