/target/
/FlexGanttFXMSProject/logs/
tmp/
/docs/_site/*
/docs/.jekyll-cache
/docs/Gemfile.lock
jdeploy/
jdeploy-bundle/
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/FlexGanttFX.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/scenicView.properties
/.idea/vcs.xml
