.group-image {
	-fx-graphic: url("folder.png");	
}

.aircraft-image {
	-fx-graphic: url("airplane.png");	
}

.flight {
	-fx-pref-height: 10.0;
	-fx-background-color: green;
	-fx-border-color: black;
	-fx-border-width: 1.0;
}

.flight .decorator-text {
}

.flight .decorator-text-above-left {
	-fx-fill: red;
}

.E {
	-fx-background-color: mediumaquamarine;
}

.J {
	-fx-background-color: salmon;
}

.N {
	-fx-background-color: thistle;
}

.Y {
	-fx-background-color: lightsteelblue;
}

.Z {
	-fx-background-color: blanchedalmond;
}

.emirates-logo {
	-fx-padding: 0.0 100.0 0.0 40.0;
}

.dlsc-logo {
	-fx-padding: 30.0 30.0 0.0 0.0;
}

.demo-title {
	-fx-padding: 75.0 0.0 0.0 40.0;
	-fx-text-fill: rgb(61.0, 75.0, 96.0);
	-fx-font-size: 48.0;
}

.demo-subtitle {
	-fx-padding: 10.0 0.0 0.0 40.0;
	-fx-text-fill: rgb(61.0, 75.0, 96.0);
	-fx-font-size: 32.0;
}

.logo-header {
	-fx-background-color: white;
}

.inner-box {
	-fx-background-color: linear-gradient(from 0.0px 0.0px to 0.0px 200.0px, white, rgba(255.0,255.0,255.0,0.66));
}

.cover {
	-fx-background-image: url("cover.jpg");
	-fx-background-position: fill;
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
}

.button-box {
	-fx-border-color: rgba(255.0,255.0,255.0,0.6) transparent transparent transparent;
	-fx-border-insets: 0.0 20.0 0.0 20.0;
}

.data-set-small,
.data-set-medium,
.data-set-large {
	-fx-background-insets: 10;
	-fx-background-radius: 12;
	-fx-text-fill: rgba(61.0, 75.0, 96.0, 0.8);
	-fx-font-weight: bold;
	-fx-font-size: 14.0;
	-fx-background-color: null;
	-fx-padding: 20.0;
}

.data-set-small:hover,
.data-set-medium:hover,
.data-set-large:hover {
	-fx-background-color: rgba(255.0,255.0,255.0,0.33);
	-fx-background-insets: 10;
}

.data-set-small:hover,
.data-set-medium:hover,
.data-set-large:hover {
	-fx-background-color: rgba(255,255,255,.66);
}

.data-set-large {
	-fx-graphic: url("data-large.png");
}

.data-set-medium {
	-fx-graphic: url("data-medium.png");
}

.data-set-small {
	-fx-graphic: url("data-small.png");
}