.glass-pane {
    -fx-background-color: black;
    -fx-opacity: .5;
    -fx-background-radius: 8px;
    -fx-padding: 40px;
}

.glass-pane .progress-indicator .text {
    -fx-fill: white;
    -fx-font-size: 1.25em;
}
