.gantt-chart {
    -fx-base:rgba(51,51,51,1.0);
    -fx-accent: orange;
    -fx-selection-bar: orange;
}

.gantt-chart .tree-table-view .column-header {
    -fx-text-fill: -fx-text-base-color;
}

.graphics {
    -fx-time-now-color: orange;
}

.scale-bottom > .saturday,
.scale-bottom > .sunday {
    -weekend-color: orange;
}

.eventline .time-cursor {
    -fx-background-color: orange;
    -fx-text-fill: black;
}