.warning .ikonli-font-icon {
	-fx-icon-size: 16px;
	-fx-icon-color: -fx-accent;
}

.error .ikonli-font-icon {
	-fx-icon-size: 16px;
	-fx-icon-color: -fx-accent;
}

.other .ikonli-font-icon {
	-fx-icon-size: 16px;
	-fx-icon-color: -fx-accent;
}
